
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

html {
	font-family: 'Nunito', sans-serif;
	font-weight: 600;
}	
* {
	margin: 0;
	padding: 0;
}
.navbar {
	background-color: #1e1e1e89;
}

.navbar .title {
	text-transform: uppercase;
	text-shadow: #ff0000 5px 5px;
	font-size: 4rem;
	text-align: center;
	user-select: none;
}
.navbar .title:hover {
	text-transform: none;
	text-shadow: #FBBB62 5px 5px;
	font-size: 4rem;
	text-align: center;
	user-select: none;
}

.uppercase {
	text-align: center;
	text-transform: uppercase;
}

.uppercase .title {
	text-transform: uppercase;
	text-shadow: #ff0000 3px 3px;
	font-size: 2rem;
	text-align: center;
	user-select: none;
}
.uppercase .title:hover {
	text-transform: none;
	text-shadow: #FBBB62 3px 3px;
	font-size: 2rem;
	text-align: center;
	user-select: none;
}